
<style type="text/css">

.ipw-page-nav {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.nav > li.active > a,
.nav > li.active > a:focus,
.nav > li.active > a:hover {
  background-color: transparent;
  border-bottom: #337ab7 2px solid;
  margin-bottom: -1px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  border-bottom: #cccccc 2px solid;
  margin-bottom: -1px;
}

</style>
<!-- page nav -->
<div class="row ipw-page-nav">
  <div class="col-xs-12 col-md-8 col-md-offset-2" style="text-align: center;">
    <ul class="nav nav-justified">
      <li role="presentation" class="active"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Paper</a></li>
      <li role="presentation"><a href="#">Code</a></li>
      <li role="presentation"><a href="#">Docs</a></li>
      <li role="presentation"><a href="#">Install</a></li>
      <li role="presentation"><a href="#">Examples</a></li>
      <li role="presentation"><a href="#">Ecosystem</a></li>
    </ul>
  </div>
</div>
