
{% include "tmpl/partials/common.pagenav.html" %}

<!-- page nav -->
<div class="row ipw-page-nav">
  <div class="col-xs-12 col-md-8 col-md-offset-2" style="text-align: center;">
    <ul class="nav nav-justified">
      <li {{ active(pgns, 'about') }}><a href="./">About</a></li>
      <li {{ active(pgns, 'blog') }}><a href="./blog">Blog</a></li>
      <li {{ active(pgns, 'join') }}><a href="./join">Join</a></li>
      <li {{ active(pgns, 'work') }}><a href="./#work">Work</a></li>
      <li {{ active(pgns, 'contact') }}><a href="./#contact">Contact</a></li>
      <!-- <li {{ active(pgns, 'legal') }}><a href="./legal">Legal</a></li> -->
    </ul>
  </div>
</div>
