
<style type="text/css">

.ipw-page-nav {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.nav > li.active > a,
.nav > li.active > a:focus,
.nav > li.active > a:hover {
  background-color: transparent;
  border-bottom: #337ab7 2px solid;
  margin-bottom: -1px;
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
  border-bottom: #cccccc 2px solid;
  margin-bottom: -1px;
}

</style>

{% macro active(a, b) %}
  role="presentation"
  foo="{{a}}"
  bar="{{b}}"
  {% if a == b %}
  class="active"
  {% endif %}
{% endmacro %}

<!-- page nav -->
<div class="row ipw-page-nav">
  <div class="col-xs-12 col-md-8 col-md-offset-2" style="text-align: center;">
    <ul class="nav nav-justified">
      <li {{ active(pgns, 'about') }}><a href="/">About</a></li>
      <li {{ active(pgns, 'blog') }}><a href="/blog">Blog</a></li>
      <li {{ active(pgns, 'join') }}><a href="/join">Join</a></li>
      <li {{ active(pgns, 'work') }}><a href="/#work">Work</a></li>
      <li {{ active(pgns, 'contact') }}><a href="/#contact">Contact</a></li>
      <li {{ active(pgns, 'legal') }}><a href="/legal">Legal</a></li>
    </ul>
  </div>
</div>
