---
baseurl: ./
mainimg: alpha-sunrise.png
---

{% extends "tmpl/layouts/white.html" %}

{% set splashcaret = true %}
{% block splash %}
<div style="padding: 100px 0px; height: 600px;">
<img src="./styles/img/ipfs-logo-white.png" />
<br /><div class="ipw-tagline">
  <br />IPFS is The Permanent Web
  <br />A new peer-to-peer hypermedia protocol
  </div>
</div>
{% endblock %}

{% block content %}

{% set pgns = 'about' %}
{% include "tmpl/partials/ipfs.pagenav.html" %}

<div class="row">
  <hr class="ipw-sectioner" />
  <div class="col-xs-12" style="text-align: center; font-family: Oxygen;">
    <div style="font-size: 32px;">
      Why We Must Distribute The Web
    </div>

    <br />
    <iframe src="//player.vimeo.com/video/54269169" width="900" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<br />

<div class="row">
  <hr class="ipw-divisor" />
  <div class="col-xs-12" style="text-align: center; font-family: Oxygen;">
    <div style="font-size: 32px;">
      IPFS Alpha Demo
    </div>

    <br />
    <iframe src="//player.vimeo.com/video/54269169" width="900" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<br />

<div class="row">
  <div class="col-xs-12" style="text-align: center; font-family: Oxygen;">
    <a class="btn btn-success btn-lg" href="docs/install" role="button">
      Install IPFS Alpha &nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
    </a>
  </div>
</div>

{% endblock %}
