---
mainimg: earth_sunrise1.jpg
---

{% extends "tmpl/layouts/white.html" %}

{% set splashcaret = true %}
{% block splash %}
<div style="padding: 100px 0px; height: 600px;">
<img src="/styles/img/ipfs-logo-white.png" />
<br /><div class="ipw-tagline">
  <br />IPFS is The Permanent Web
  <br />A new peer-to-peer hypermedia protocol
  </div>
</div>
{% endblock %}

{% block content %}

{% set pgns = 'about' %}
{% include "tmpl/partials/ipfs.pagenav.html" %}

<div class="row">
  <hr class="ipw-spacer" />
  <div class="col-xs-12" style="text-align: center;">
    <iframe src="//player.vimeo.com/video/54269169" width="900" height="481" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <hr class="ipw-sectioner" />
  <div class="col-xs-12" style="text-align: center; font-family: Oxygen;">
    <div style="font-size: 32px;">IPFS can make the web faster, safer, and more open</div><div style="font-size: 18px;">With content-addressing and cryptography built in.</div>
  </div>
</div>
<br />

<!--
<div class="text-center row" id="signup">
  <hr class="ipw-spacer" />
  <div class="col-sm-4 col-lg-3 col-lg-offset-1">
    <i class="http://filecoin.io/static/img/disk.png"></i><br />
    By distributing data Peer-to-Peer, IPFS speed up the web.
  </div><div class="col-sm-4 col-lg-4">
    <img src="http://filecoin.io/static/img/outsource.png" /><br />
    Use Filecoin to <span class="bold">store files</span><br />
    in the network or to <span class="bold">transact</span>
  </div><div class="col-sm-4 col-lg-3">
    <img src="http://filecoin.io/static/img/exchange.png" /><br />
    <span class="bold">Exchange</span> Filecoin for other<br />
    currencies, like Bitcoin
  </div>
</div>
-->
{% endblock %}
