---
baseurl: ../
site: ipn
template: tmpl/layouts/ipn.html
tagline: Join Us
---
{% set pgns = 'join' %}
{% include "tmpl/partials/ipn.pagenav.html" %}


{% set jobs = [
  ["pm", "Product Manager"],
  ["dsyseng", "Distributed Systems Engineer"],
  ["p2peng", "Peer-to-Peer Engineer"],
  ["cryptoeng", "Cryptographic Systems Engineer"],
  ["syseng", "Systems Engineer"],
  ["webeng", "Web Engineer"]
] %}

<script type="text/javascript">
function jobselect(job) {
  // color links
  $('.ipw-job-links li').removeClass('active')
  $('.ipw-job-links li#link-' + job).addClass('active')

  // hide/show text
  $('.ipw-job-desc').addClass('hide')
  $('.ipw-job-desc#text-' + job).removeClass('hide')

  var email = 'join+'+job+'@ipn.io'
  $('.ipw-apply-email').attr('href', 'mailto:' + email).text(email)
  window.location.hash = '#' + job
}
$(document).ready(function() {
  var job = window.location.hash.substring(1) || 'pm'
  jobselect(job)
})
</script>

<div class="row">
  <hr class="ipw-spacer" style="height: 10px;" />
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2" style="text-align: center; font-family: Oxygen;">
    <h2 id="mission">Work With Us</h2>
    <p>We make protocols, systems, and tools that anybody can use.
    <br /><a href="./#open-source">Our work is Open Source</a>
    and our community is inclusive.
    <br />You -- and everyone -- are invited to contribute!</p>
  </div>
</div>

<div class="row">
  <hr class="ipw-spacer" style="height: 10px;" />
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2"
    style="text-align: center;">
    <h2 id="mission">Join Us</h2>
    <p>Our core team drives development of our projects.
    The roles below are those we need filled most.
    If you are interested in joining us, but are not
      sure you fit any of these roles, or your timing is difficult,
      reach out anyway!
    Let's figure out together when our timelines match up.
    </p>
  </div>
</div>

<style type="text/css">
.ipw-job {
  background-color: rgba(33, 52, 105, 0.04);
}

.ipw-job > * {
  padding-top:25px;
  padding-bottom:25px;
}

.ipw-job > :first-child {
}

.ipw-job > :last-child {
  background-color: rgba(0, 0, 0, 0.04);
}

.ipw-section-dark {
}

.ipw-job-links {
  margin-top: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.ipw-job-text {
  text-align: left;
  min-height: 275px;
  padding-left: 25px;
}

</style>

<hr class="ipw-spacer" style="height: 10px;" />
<div class="row ipw-section-dark ipw-job">
  <div class="col-sm-6">
    <div class="col-sm-offset-3 col-md-offset-4 ipw-job-links">
      <ul class="nav nav-pills nav-stacked">

      {% for job, title in jobs %}
        <li role="presentation" id="link-{{ job }}">
          <a href="#{{ job }}" onclick="jobselect('{{ job }}'); return false;">
            {{ title }}</a>
        </li>
      {% endfor %}

      </ul>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="ipw-job-text">

      {% for job, i in jobs %}
      <div id="text-{{ job }}" class="ipw-job-desc hide"><div></div>

{% markdown %}
{% include "src/ipn.io/join/" + job + ".md" %}
{% endmarkdown %}

      </div>
      {% endfor %}

    </div>
  </div>
</div>

<div class="row">
<hr class="ipw-spacer" style="height: 10px;" />
<div class="col-md-6 col-md-offset-3 ipw-apply" style="font-size: 16px;">
{% markdown %}

#### To apply, just open a text editor and type

- **Your story**. Some questions to answer:
what projects have you worked on?
what do you care about?
what draws you to network protocols?
what do you enjoy?
what do you like about software engineering?
what do you dislike?
what motivates you?
what makes you different?

- Links to your online profiles (**GitHub**, Twitter, personal website, etc).
- A description of your **work history** (whatever you prefer: resume, linkedin, plaintext).
- Are there things you particularly want to work on? If so, let us know.

{% endmarkdown %}

<br />
<p>Send it to
<strong>
<a class="ipw-apply-email" href="mailto:join+dsyseng@ipn.io">join+dsyseng@ipn.io</a></strong>.
And ask us any questions you have!

</div>
</div>
