---
mainimg: earth_sunrise1.jpg
template: tmpl/layouts/white.html
tagline: Join Us
---
{% set pgns = 'join' %}
{% include "tmpl/partials/ipn.pagenav.html" %}


{% set jobs = [
  ["pm", "Product Manager"],
  ["dsyseng", "Distributed Systems Engineer"],
  ["p2peng", "Peer-to-Peer Engineer"],
  ["cryptoeng", "Cryptographic Systems Engineer"],
  ["syseng", "Systems Engineer"]
] %}

<script type="text/javascript">
function jobselect(job) {
  // color links
  $('.ipw-job-links li').removeClass('active')
  $('.ipw-job-links li#' + job).addClass('active')

  // hide/show text
  $('.ipw-job-desc').addClass('hide')
  $('.ipw-job-desc#' + job).removeClass('hide')

  var email = 'join+'+job+'@ipn.io'
  $('.ipw-apply-email').attr('href', 'mailto:' + email).text(email)
}
$(document).ready(function() { jobselect('pm') })
</script>

<div class="row">
  <hr class="ipw-spacer" style="height: 10px;" />
  <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2" style="text-align: center; font-family: Oxygen;">
    <h2 id="mission">Work With Us</h2>
    <p>We make protocols, systems, and tools that anybody can use.
    <br />If these are useful to you, join us in developing them.
    <br /><a href="//ipn.io/about#open-source">Our work is Open Source</a> &mdash;
    you're invited to contribute.</p>
  </div>
</div>

<div class="row">
  <hr class="ipw-spacer" style="height: 10px;" />
  <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1" style="text-align: center;">
    <h2 id="mission">Looking for more...</h2>
    <p>We are expanding our core team.
      <br />We have the following openings:
    </p>

    <div class="row">
      <hr class="ipw-spacer" style="height: 10px;" />
      <div class="col-sm-4 col-md-offset-1" style="margin-bottom: 30px;">
        <ul class="nav nav-pills nav-stacked ipw-job-links">

          {% for job, title in jobs %}
            <li role="presentation" id="{{ job }}">
              <a href="#" onclick="jobselect('{{ job }}'); return false;">
              {{ title }}</a></li>
          {% endfor %}

        </ul>
      </div>

      <div class="col-sm-6" style="text-align: left;">

{% markdown %}
{% for job, i in jobs %}
  <div id="{{ job }}" class="ipw-job-desc hide"><div></div>

  {% include "src/ipn.io/join/" + job + ".md" %}

  </div>

{% endfor %}
{% endmarkdown %}
    </div>

  </div>
</div>

<style type="text/css">
.ipw-apply * {
  margin-top: 1em;
}

</style>


<div class="col-md-6 col-md-offset-3 ipw-apply" style="font-size: 16px;">
  <hr class="ipw-divisor" style="height: 10px;" />
  <h4>To apply, open a text editor and type:</h4>
  <ul>
    <li><strong>Your story</strong>. Some questions to answer:
      what projects have you worked on?
      what do you care about?
      what draws you to network protocols?
      what do you enjoy?
      what do you like about software engineering?
      what do you dislike?
      what motivates you?
      what makes you different?
    </li>
    <li>Links to your online profiles (<strong>GitHub</strong>, Twitter,
      personal website, etc).</li>
    <li>A description of your <strong>work history</strong> (whatever you
      prefer: resume, linkedin, plaintext).</li>
    <li>Are there things you particularly want to work on?
      If so, be sure to let us know.</li>
  </ul>

  <br />
  <p>Send it to
  <strong>
  <a class="ipw-apply-email" href="mailto:join+dsyseng@ipn.io">join+dsyseng@ipn.io</a></strong>.
  And ask us any questions you have!

</div>
